<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<section data-transition="{data.tx_revealjseditor_transition}"
         data-state="{data.tx_revealjseditor_data_state}"
         class="{data.tx_revealjseditor_data_state}">
    <div class="reveal-columns reveal-image-left">
        <div class="reveal-col reveal-col-image">
            <f:mark.contentArea colPos="230" txContainerParent="{data.uid}">
                <f:for each="{children_230}" as="child">
                    <f:format.raw>{child.renderedContent}</f:format.raw>
                </f:for>
            </f:mark.contentArea>
        </div>
        <div class="reveal-col reveal-col-text">
            <f:mark.contentArea colPos="231" txContainerParent="{data.uid}">
                <f:for each="{children_231}" as="child">
                    <f:format.raw>{child.renderedContent}</f:format.raw>
                </f:for>
            </f:mark.contentArea>
        </div>
    </div>
</section>
</html>
