<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:comment>
  Two-column slide body. Outer section wrapper is rendered by the page template.
</f:comment>
<div class="reveal-columns reveal-columns-2">
    <div class="reveal-col reveal-col-left">
        <f:mark.contentArea colPos="210" txContainerParent="{data.uid}">
            <f:for each="{children_210}" as="child">
                <f:format.raw>{child.renderedContent}</f:format.raw>
            </f:for>
        </f:mark.contentArea>
    </div>
    <div class="reveal-col reveal-col-right">
        <f:mark.contentArea colPos="211" txContainerParent="{data.uid}">
            <f:for each="{children_211}" as="child">
                <f:format.raw>{child.renderedContent}</f:format.raw>
            </f:for>
        </f:mark.contentArea>
    </div>
</div>
</html>
